<div class="container">
  <h1>Посты пользователя сети Интернет</h1>
  <div>
    <button (click)="toggleForm()">Показатb форму</button>
  </div>
  <div *ngIf="isFormToggled()">
    <app-post-form
      (onAdd)="updatePosts($event)"
    ></app-post-form>
  </div>
  <br>
  <div *ngIf="getPosts().length; else noPosts">
    <app-post
      (onDelete)="deletePost($event)"
      *ngFor="let post of getPosts()"
      [axaxaxaxa]="post"
    >
      <h3 [appStyleChooser]="'green'" fontWeight="100">Статистика</h3>
      <p [appStyleChooser]="'blue'" fontWeight="100">Длина заголовка {{post.title.length}}</p>
      <p *ngIf="post.title.length > post.text.length; else everythingIsOk">Заголовок длиннее текста поста</p>
      <ng-template #everythingIsOk>
        <p [appStyleChooser]="'red'" fontWeight="thin">Пост форматирован нормально</p>
      </ng-template>
    </app-post>
  </div>
  <ng-template #noPosts>
    <div>
      Нет постов для отображения
    </div>
  </ng-template>
</div>
