<style>
  div {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
  }

  .isredbox {
    background-color: red;
  }
</style>

<div>
  {{title}}
  <input [(ngModel)]="title" type="text" />
</div>

<div [ngStyle]=""></div>

<div>
  <h1>{{ this.title }}</h1>
  <span>{{ this.users | json | uppercase }}</span>
</div>
<div>
  <img [src]="this.img_url" alt="Just look at that!">
</div>

<div>
  <input (input)="onInput($event)" type="text">
  <div [innerText]="this.input_val">
  </div>
</div>

<div [class.isredbox]="isRed"></div>
<div [class.isredbox]="!isRed"></div>
<div>
  <input (click)="onClick()" type="button" value="He-he-he">
</div>
<!-- <input type="checkbox" [(ngModel)]="isRed" /> -->