<form
    [formGroup]="form"
    (submit)="submit()"
>
    <div>
        <h3>Зарегистрируйте меня как</h3>
        <input
            type="text"
            placeholder="Электронная почта"
            formControlName="email"
        >
        <small
            class="danger"
            *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched"
        >
            Поле email должно быть заполнено
        </small>
        <small
            class="danger"
            *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
        >
            Email некорректный
        </small>
        <input
            type="text"
            placeholder="Пароль"
            formControlName="password"
        >
        <small
            class="danger"
            *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
        >
            Пароль обязателен для заполнения
        </small>
        <small
            class="danger"
            *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched"
        >
            Пароль слишком короткий, придумай длиннее
        </small>
    </div>
    <br>

    <div formGroupName="address">
        <h3>Я проживаю</h3>
        <select formControlName="country" (change)="changeCountry()">
            <option value="ru">Россиюшка</option>
            <option value="by">Белоруссия</option>
        </select>

        <input
            type="text"
            placeholder="Город"
            formControlName="city"
        >
        <small
            class="danger"
            *ngIf="form.get('address')?.get('city')?.errors?.['required'] && form.get('address')?.get('city')?.touched"
        >
            Город обязателен для заполнения
        </small>

        <input
            type="text"
            placeholder="Мой адрес"
            formControlName="address"
        >
        <small
            class="danger"
            *ngIf="form.get('address')?.get('address')?.errors?.['required'] && form.get('address')?.get('address')?.touched"
        >
            Адрес обязателен для заполнения
        </small>
    </div>

    <button
        type="submit"
        [disabled]="this.form.invalid"
    >
        Добавить
    </button>
</form>
