<form
    [formGroup]="form"
    (submit)="submit()"
>
    <div>
        <h3>Зарегистрируйте меня как</h3>
        <input
            type="text"
            placeholder="Электронная почта"
            formControlName="email"
        >
        <small
            class="danger"
            *ngIf="form.get('email')?.errors?.['required'] && form.get('email')?.touched"
        >
            Поле email должно быть заполнено
        </small>
        <small
            class="danger"
            *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched"
        >
            Email некорректный
        </small>
        <small
            class="danger"
            *ngIf="form.get('email')?.errors?.['userForbidden'] && form.get('email')?.touched"
        >
            Email в списке запрещённых
        </small>
        <input
            type="text"
            placeholder="Пароль"
            formControlName="password"
        >
        <small
            class="danger"
            *ngIf="form.get('password')?.errors?.['required'] && form.get('password')?.touched"
        >
            Пароль обязателен для заполнения
        </small>
        <small
            class="danger"
            *ngIf="form.get('password')?.errors?.['minlength'] && form.get('password')?.touched"
        >
            Пароль слишком короткий, придумай длиннее
        </small>
    </div>
    <br>

    <div formGroupName="address">
        <h3>Я проживаю</h3>
        <select
            formControlName="country"
            (change)="changeCountry()"
        >
            <option value="ru">Россиюшка</option>
            <option value="by">Белоруссия</option>
        </select>

        <input
            type="text"
            placeholder="Город"
            formControlName="city"
        >
        <small
            class="danger"
            *ngIf="form.get('address')?.get('city')?.errors?.['required'] && form.get('address')?.get('city')?.touched"
        >
            Город обязателен для заполнения
        </small>

        <small
            class="danger"
            *ngIf="form.get('address')?.get('city')?.errors?.['forbiddenCity'] && form.get('address')?.get('city')?.touched"
        >
            Регистрация недоступна для указанного города
        </small>

        <input
            type="text"
            placeholder="Мой адрес"
            formControlName="address"
        >
        <small
            class="danger"
            *ngIf="form.get('address')?.get('address')?.errors?.['required'] && form.get('address')?.get('address')?.touched"
        >
            Адрес обязателен для заполнения
        </small>
    </div>

    <div formArrayName="reasons">
        <h3>Расскажите, почему Вы пришли сюда</h3>

        <div *ngFor="let reason of getReasons(); let idx = index">
            <input
                style="width: 75%;"
                type="text"
                placeholder="Следующая причина"
                [formControlName]="idx"
            >
            <small 
                style="margin-bottom: 0.8rem;"
                class="danger"
                *ngIf="getReasons()[idx]?.errors?.['required'] && getReasons()[idx]?.touched"
            >
                Текст причины обязателен для заполнения
            </small>
            <small 
                style="margin-bottom: 0.8rem;"
                class="danger"
                *ngIf="getReasons()[idx]?.errors?.['minlength'] && getReasons()[idx]?.touched"
            >
                Слишком короткая причина. Текущая длина - {{getReasons()[idx].errors?.['minlength']?.actualLength}}
                из {{getReasons()[idx].errors?.['minlength']?.requiredLength}}
            </small>
            <button
                type="button"
                (click)="deleteReason(idx)"
            >
                Delete
            </button>
        </div>
        <hr>
        <button (click)="addReason()">Добавить причину</button>
    </div>
    <button
        type="submit"
        [disabled]="this.form.invalid"
    >
        Создать учётную запись
    </button>
</form>
