<button
    routerLink="/posts"
    (click)="onShowAuthor()"
>
    Показывать автора поста_copy
</button>
<button
    routerLink="/posts"
    [queryParams]="{showAuthor: true}"    
    fragment="frag"
>
    Показывать автора поста
</button>
<div *ngIf="getPosts().length; else noPosts">
    <app-post (onDelete)="deletePost($event)" *ngFor="let post of getPosts()" [axaxaxaxa]="post">
       <p *ngIf="showAuthor">{{post.author}}</p>
    </app-post>
</div>
<ng-template #noPosts>
    <div>
        Нет постов для отображения
    </div>
</ng-template>
