.star-rating {
    display: flex;
    align-items: center;
    width: 250px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
}

.star-rating input {
    display: none;
}

.star-rating > label {
    width: 50px;
    height: 50px;
    font-family: Arial;
    font-size: 50px;
    transition: 0.2s ease;
    color: orange;
}

.star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
}

.star-rating label:active::before {
    transform: scale(1.1);
}

.star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
}

.star-rating input:checked~label:before {
    content: '\2605';
}
